@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*font-family: 'Chewy', cursive;*/
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font: normal 100%/1.3 Montserrat Alternates, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FBF8F0;
  width: 100%;
}

img {
  width: 100%;
}

header {
  margin: .25rem 0;
  padding: .25em 0;
  display: block;
  text-align: center;
}

.coco {
  margin: 0;
  padding: .75em 0;
}

h1 {
  background-color: #FBF8F0;
  color: #FE5757;
  text-align: center;
  padding: .1em .5em;
  margin: .5em 0;
  display: block;
  width: 100%;
  font-size: 2.3rem;
  line-height: 1;
}

.img-logo {
  max-width: 3.5em;
  margin: .5rem 0 0;
  vertical-align: middle;
}

.img-header:nth-child(2) {
  display: none;
}

.img-header:nth-child(3) {
  display: none;
}

.img-header {
  position: relative;
}

.nav {
  text-align: center;
  list-style-type: none;
  font-size: 1.325rem;
  font-weight: 800;
  padding: .25em 0 .4em;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: 70%;
  background-color: #8E8E8E;
  display: block;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: .1em .35em .25em;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a:hover {
  color: #FA2828;
  padding: .1em .35em .25em;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 0;
  text-align: center;

}

h3 {
  font-size: 1.85em;
  text-align: center;
  margin: .9rem 0 2rem;
}

h4 {
  font-size: 1.6em;
  margin: 0;
  text-align: center;
  padding: .95em 0 0;
}

ul,
p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5em;
}


.welcome {
  margin: .2em .2em 2.55em;
  padding: 0 .5em;
  border-top: 3px solid #FE5757;
}

.welcome p {
  margin: .5rem .5rem 0;
}

.img-flex {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
}

.line {
  border: 2.5px solid #8E8E8E;
  margin: 0 4rem;
}

.services {
  margin: 0.25rem .2rem 1.5rem;
  padding: 1em .7em;
}

.offers {
  border: 3px solid #8E8E8E;
  border-radius: 8px;
  padding: .75em;
  margin: 1em auto;
  max-width: 18em;
  max-height: 20em;
  width: 100%;
}

.offers a {
  text-decoration: none;
  color: #FE5757;
  font-size: 1.75rem;
  font-weight: bold;
}

.offers ul {
  list-style-type: none;
  padding: .5em 0 1em;
  text-align: center;
  margin: 0;
}

.offers a:hover {
  color: #8E8E8E;
}

.offers li {
  margin: .5rem 0;
}

.catering {
  border: 3px solid #8E8E8E;
  border-radius: 8px;
  padding: .75em;
  margin: 1em auto;
  max-width: 18em;
  max-height: 20em;
  width: 100%;
}

.catering p {
  font-size: 1.25rem;
  margin: .6rem .5rem 1.5em;
  text-align: center;
}

.catering ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.catering a {
  text-decoration: none;
  color: #fff;
}

.catering-btn {
  text-align: center;
  padding: 0 0 1em;
  font-size: 1rem;
  padding: .4em .75em;
  margin: 1.2rem 3rem 1rem;
  border-radius: 8px;
  border: 3px solid #FE5757;
  background: #FE5757;
}

.catering-btn:hover {
  background-color: #8E8E8E;
  border: 3px solid #8E8E8E;
}

.grey-line {
  border-top: 3px solid #FE5757;
  margin: 1rem .5rem;;
}

.testimonials {
  margin: 0 .2rem 1.5rem;
  padding: 1em .7em;
}

.img-person {
  position: relative;
  width: 100%;
  max-width: 10em;
  margin: 0 auto;
  vertical-align: middle;
  display: block;
}

.testimonials p {
  text-align: center;
}

cite {
  color: #FE5757;
}

.footer {
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem .75rem;
  width: 100%;
  background-color: #8E8E8E;
  color: #FBF8F0;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.footer ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer a {
  color: #FE5757;
  text-decoration: none;
  color: #fff;
}

.btn-footer {
  font-size: 1.125rem;
  padding: .4em .75em;
  margin: 0;
  border-radius: 8px;
  border: 3px solid #333;
  background: #333;
  display: inline-block;
}

.btn-small {
  font-size: .875rem;
}

.btn-small:hover {
  color: #FE5757;
}

.links {
  display: block;
  margin: 1rem 0;
}

.social {
  display: flex;
  margin: 0;
}

.social > li {
  margin: 0 .25em;
  width: 2.5em;
}

.copyright {
  width: 100%;
  text-align: center;
}

.social {
  margin-left: auto;
  display: flex;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.5rem;
  }

  .img-logo {
    max-width: 4em;
    margin: .5rem 0 0;
    vertical-align: middle;
  }

  .nav {
    font-size: 1.5rem;
  }

  .nav a {
    padding: .1em .4em .25em;
  }

  .nav a:hover {
    color: #FA2828;
    padding: .1em .4em .25em;
    text-align: center;
  }

  .img-flex {
    max-width: 16rem;
  }

  .catering {
    padding: .75em 0;
  }

  .catering p {
    font-size: 1.5rem;
    margin: .6rem .5rem 1em;
  }

  .bobby p {
    margin: 1rem 10rem;
  }

  .josie p {
    margin: 1rem 10rem;
  }

  .monster p {
    margin: 1rem 10rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.25rem;
  }

  .img-logo {
    max-width: 6em;
    margin: .5rem 0 0;
    vertical-align: middle;
  }

  .nav {
    font-size: 1.75rem;
  }

  .nav a {
    padding: .1em 1em .25em;
  }

  .nav a:hover {
    color: #FA2828;
    padding: .1em 1em .25em;
  }

  .img-header:nth-child(2) {
    display: inline;
  }

  .img-header:nth-child(3) {
    display: inline;
  }

  .header-imgs {
    display: flex;
    flex-wrap: wrap;
  }

  .img-header {
    width: 33.33%;
  }

  .welcome {
    text-align: center;
    margin: 1rem 2rem;
  }

  .img-flex {
    width: 100%;
    display: inline-block;
  }

  h2 {
    margin: 1rem 0;
  }

  .welcome img {
    margin: 2rem .25rem 1rem;
    padding: 1rem;
  }

  .welcome-img {
    display: inline-block;
    width: 100%;
    max-width: 17em;
    vertical-align: middle;
  }

  .welcome-content {
    display: inline-block;
    width: 100%;
    max-width: 25em;
    vertical-align: middle;
    margin-bottom: 1rem;
  }

  .catering {
    padding: .75em 0;
  }

  .catering p {
    font-size: 1.5rem;
    margin: .6rem .5rem 1em;
  }

  .bobby p {
    margin: 1rem 10rem;
  }

  .josie p {
    margin: 1rem 10rem;
  }

  .monster p {
    margin: 1rem 10rem;
  }

}
