@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*font-family: 'Chewy', cursive;*/
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font: normal 100%/1.3 Montserrat Alternates, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

header {
  background-color: #FBF8F0;
  margin: 0;
  padding: .25em 0;
  display: block;
  text-align: center;
}

.coco {
  margin: 0;
  padding: .75em 0;
}

h1 {
  background-color: #FBF8F0;
  color: #FE5757;
  text-align: center;
  padding: .1em .5em;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 2.25rem;
  line-height: 1;
}

.img-logo {
  max-width: 3em;
  margin: 0;
  vertical-align: middle;
}

.img-header {
  position: relative;
}

.nav {
  text-align: center;
  list-style-type: none;
  font-size: 1.325rem;
  font-weight: 800;
  padding: .25em 0 .4em;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: 70%;
  background-color: #8E8E8E;
  display: block;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: .1em .2em .25em;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a:hover {
  color: #FA2828;
  padding: .1em .2em .25em;
  text-align: center;
}

main {
  margin: .2em;
  padding: 0 .5em;
}

ul,
p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5em;
}


.welcome {
  margin: 1rem 0;
}

.img-flex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.services {
  margin: 1.5rem 0;
}

.footer {
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem .5rem;
  width: 100%;
  background-color: #8E8E8E;
  border-top: 3px solid #FE5757;

  color: #FBF8F0;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.footer ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer a {
  color: #FE5757;
  text-decoration: none;
  color: #fff;
}

.btn-footer {
  font-size: 1.125rem;
  padding: .4em .75em;
  margin: 0;
  border-radius: 8px;
  border: 3px solid #333;
  background: #333;
  display: inline-block;
}

.btn-small {
  font-size: .875rem;
}

.btn-small:hover {
  color: #FE5757;
}

.links {
  display: block;
  margin: 1rem 0;
}

.social {
  display: flex;
  margin: 0;
}

.social > li {
  margin: 0 .25em;
  width: 2.5em;
}

.copyright {
  width: 100%;
  text-align: center;
}


@media 38 {
  .social {
    margin-left: auto;
    display: flex;
  }
}
